body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
img				{ border: solid; }


.diffchange		{ background-color: #facade; font-weight:bold; }
.before			{ background-color:#fff8d7; }
.after			{ background-color:#f1fdd9; }
.entry          { display:table; max-width: 1024px; width: 100%; border: dotted; border-width: thin; }
.entry_left     { display:table-cell; width: 400px; background-color: #fce0ed; padding: 20px; }
.entry_right    { display: table-cell; width: 100%; max-width:800px; padding: 20px;
	/*for wrapping unbroken strings sent from wikipedia*/
	white-space: pre-wrap;      /* CSS3 */   
  	white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */ }
.author         { clear: both; }

