<!doctype html>
<head>
	{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	{% endblock %}
</head>
<title>Wikisewer</title>

{% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
 {% endfor %}

<h1>Wikisewer</h1>
{% block body %}{% endblock %}
<a href="http://flask.pocoo.org/"><img
   src="http://flask.pocoo.org/static/badges/flask-project-s.png"
   border="0"
   alt="a Flask project"
   title="a Flask project"></a>
<script type=text/javascript
 src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</html>