<!doctype html>
<head>
  {% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
  <!--<script type=text/javascript
 src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->

  <script>

    $(document).ready(function(){
    //   $('.vote_link').bind('click', function(e){
    //       alert('i have been clicked argh');
    //       e.preventDefault();
    //       var url = $(this).attr('name');
    //       $.ajax(url, function(data){
    //           $('.vote_tally').html(data);
    //       });
    //   });
    // });
    // if (jQuery) {
    //   alert("jQuery is here");
    // } else {
    //   alert("You have no jquery");
    // }

  	$('.vote_link').bind('click', function(e){
      e.preventDefault();
      var url = $(this).attr('href');
      var time = $(this).attr('id').toString();
		  console.log('here we go');
		  console.log(url);
      console.log(typeof(eyed));
      console.log(".vote_tally"+time)
		  $(".vote_tally"+time).load(url);
		 }); 

	  });
  </script>
  {% endblock %}
</head>
<title>Wikisewer</title>

{% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
 {% endfor %}

<h1>Wikisewer</h1>
{% block body %}{% endblock %}
<a href="http://flask.pocoo.org/"><img
   src="http://flask.pocoo.org/static/badges/flask-project-s.png"
   border="0"
   alt="a Flask project"
   title="a Flask project"></a>

</html>